* {
    margin: 0;
}

#maincontainer {
    height: 1200px;
    display: grid;
    grid-template-areas: 
    "he he"
    "na ma"
    ;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
}

#headcontainer {
    height: 100%;
    display: flex;
    grid-area: he;
    background-color: blue;
}

nav {
    grid-area: na;
    background-color: greenyellow;
}

main {
    grid-area: ma;
    background-color: aqua;
}

.logo {
    width: 20%;
    height: auto;
    padding: 10px;
}

.logo > img {
    width: 100%;
}
